/* styles.css */

body,
html {
    height: 100%;
    margin: 0;
}

.d-flex {
    display: flex;
    height: 100%;
    width: 100%;
}

#sidebar {
    height: 100vh;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
    background-color: #343a40;
    color: #fff;
    padding-top: 20px;
}

.profile-picture {
    width: 100px;
    /* Ajustez la taille selon vos besoins */
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #fff;
    /* Optionnel : bordure blanche pour meilleure visibilité */
}

.navbar-brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    text-align: center;
}

.content-container {
    margin-left: 200px;
    padding: 2rem;
    flex: 1;
    overflow: auto;
}

.text-content {
    flex: 1;
    margin-right: 20px;
}

.code-container {
    background-color: #1e1e1e;
    /* Couleur de fond noire */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    /* Couleur de texte blanche */
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    /* Taille de police augmentée */
    white-space: pre-wrap;
}

pre,
code {
    margin: 0;
    color: #ffffff;
    /* Texte en blanc */
}

.cursor {
    display: inline-block;
    width: 10px;
    height: 20px;
    background-color: #fff;
    animation: blink 0.7s steps(1) infinite;
}

@keyframes blink {
    50% {
        background-color: transparent;
    }
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #343a40;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}