body,
html {
    height: 100%;
    margin: 0;
}

.d-flex {
    display: flex;
    height: 100%;
    width: 100%;
}

#sidebar {
    height: 100vh;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
    background-color: #343a40;
    color: #fff;
    padding-top: 20px;
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #fff;
}

.navbar-brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    text-align: center;
}

.content-container {
    margin-left: 200px;
    padding: 2rem;
    flex: 1;
    overflow: auto;
}

.text-content {
    flex: 1;
    margin-right: 20px;
}

pre,
code {
    margin: 0;
    padding: 10px;
    overflow: auto;
    white-space: pre;
    word-wrap: normal;
    background-color: #282c34;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
}

.code-container {
    background-color: #282c34;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #ffffff;
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #343a40;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.skills-container {
    position: relative;
    height: 400px;
    width: 100%;
    overflow: hidden;
    background-color: #f8f9fa;
}

.block {
    position: absolute;
    padding: 10px;
    color: white;
    text-align: center;
    border-radius: 5px;
    line-height: 1.5em;
    font-size: 1em;
    white-space: nowrap;
    max-width: calc(100% - 20px);
}

.cursor {
    display: inline-block;
    width: 10px;
    background-color: #000;
    animation: blink 1s step-start infinite;
}

@keyframes blink {
    50% {
        background-color: transparent;
    }
}